@import url(normalize.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-white-900 {
  background-color: #FFFFFF; }

.bg-black-700 {
  background-color: #283637; }

html {
  height: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #F5F5F5;
  position: relative; }

body::before, body::after {
  position: absolute;
  content: '';
  height: 30vw;
  width: 30vw; }

body::before {
  background-color: #009788;
  top: 0;
  right: 0;
  clip-path: circle(78.4% at 93% 4%); }

body::after {
  background-color: #283637;
  bottom: 0;
  left: 0;
  clip-path: circle(66.8% at 6% 97%); }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
